/* Editor Bar Style */

.vchart-editor-ui-editor-bar-container {
  border: 1px solid #dee0e3;
  border-radius: 8px;
  box-shadow: 0px 8px 24px 8px rgba(31, 35, 41, 0.04), 0px 6px 12px 0px rgba(31, 35, 41, 0.04),
    0px 4px 8px -8px rgba(31, 35, 41, 0.06);
  width: fit-content;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  height: 32px;
}

.vchart-editor-ui-editor-bar-panel-container {
  /* padding: 4px 0; */
  padding: 8px 0;
  /* border: 1px solid #dee0e3; */
  border-radius: 8px;
  box-shadow: 0px 8px 24px 8px rgba(31, 35, 41, 0.04), 0px 6px 12px 0px rgba(31, 35, 41, 0.04),
    0px 4px 8px -8px rgba(31, 35, 41, 0.06);
  width: fit-content;
}

.vchart-editor-ui-editor-bar-tool {
  cursor: pointer;
  border-radius: 4px;
  min-width: 24px;
  height: 24px;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.vchart-editor-ui-editor-bar-tool:hover {
  cursor: pointer;
  background-color: #f4f4f2;
}

.vchart-editor-ui-editor-bar-tool-selected {
  background-color: #e8f4ff !important;
}

.vchart-editor-ui-editor-bar-open-icon {
  color: #8f959e;
  /* width: 8px;
  height: 8px; */
  font-size: 8px !important;
  margin-left: 2px;
}

.vchart-editor-ui-editor-bar-row {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 8px;
}
.vchart-editor-ui-editor-bar-row:hover {
  cursor: pointer;
  background: #f4f4f2;
}
.vchart-editor-ui-editor-bar-row-selected {
  background-color: #e8f4ff !important;
}

.vchart-editor-ui-editor-bar-color-item {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
}

.vchart-editor-ui-editor-bar-color-item-rect {
  border-radius: 2px;
  width: 22px;
  height: 22px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}

.vchart-editor-ui-editor-bar-color-item-text {
  border-radius: 2px;
  width: 22px;
  height: 22px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.vchart-editor-ui-editor-bar-box-item {
  width: 40.75px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vchart-editor-ui-editor-bar-box-item:hover {
  cursor: pointer;
  background-color: #edecec;
}
.vchart-editor-ui-editor-bar-box-item-selected {
  background-color: rgba(117, 164, 255, 0.1) !important;
}
