/* Editor Bar Style */

.vchart-editor-ui-editor-bar-container {
  /* padding: 4px 8px; */
  padding: 4px 0;
  border: 1px solid #dee0e3;
  border-radius: 8px;
  box-shadow: 0px 8px 24px 8px rgba(31, 35, 41, 0.04), 0px 6px 12px 0px rgba(31, 35, 41, 0.04),
    0px 4px 8px -8px rgba(31, 35, 41, 0.06);
  width: fit-content;
}

.vchart-editor-ui-editor-bar-row {
  height: 24px;
  padding: 0 8px;
}

.vchart-editor-ui-editor-bar-row:hover {
  background: #f4f4f2;
}

.vchart-editor-ui-editor-bar-color-item {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 3px;
  display: inline-block;
}

.vchart-editor-ui-editor-bar-color-item-rect {
  border-radius: 2px;
  width: 22px;
  height: 22px;
  margin: 2px;
  display: inline-block;
}

.vchart-editor-ui-editor-bar-color-item-text {
  border-radius: 2px;
  width: 22px;
  height: 22px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vchart-editor-ui-editor-bar-box-item {
  width: 40.75px;
  height: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vchart-editor-ui-editor-bar-box-item:hover {
  background-color: #edecec;
}
