body {
  margin: 0;

  --primary-color: #1890ff;
  --primary-color-hover: #40a9ff;
  --primary-color-active: #096dd9;
  --primary-color-outline: rgba(24, 144, 255, 0.2);
  --primary-1: #e6f7ff;
  --primary-2: #bae7ff;
  --primary-3: #91d5ff;
  --primary-4: #69c0ff;
  --primary-5: #40a9ff;
  --primary-6: #1890ff;
  --primary-7: #096dd9;
}
body p {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
}

#app .sidebar {
  width: 300px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

#app .sidebar .sidebar-title {
  font-weight: 700;
  height: 5vh;
  line-height: 5vh;
}

#app .sidebar .menu-list {
  height: 95vh;
  overflow-y: scroll;
  border-top: #d7d7d7 1px solid;
}

#app .sidebar .menu-item {
  line-height: 3em;
  text-align: left;
  padding: 0 1em;
  cursor: pointer;
}

#app .sidebar .menu-item.menu-item-active {
  background-color: var(--primary-1);
  color: var(--primary-color);
  font-weight: 700;
}

#app .content {
  flex: 1;
}

#header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 20px;
}

#header .release-button {
  border: 1px solid transparent;
  color: #fff;
  border-color: var(--primary-color);
  background: var(--primary-color);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}
