# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: TEST CI

on:
  push:
    branches: ['main', 'develop']
  pull_request:
    branches: ['main', 'develop', 'dev/**']

jobs:
  build:
    runs-on: macOS-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: './common/config/rush/pnpm-lock.yaml'

      - name: Preparation of node-canvas
        run: arch -arm64 brew install pkg-config cairo pango libpng jpeg giflib librsvg

        # Install rush
      - name: Install rush
        run: node common/scripts/install-run-rush.js install --bypass-policy

      - name: Build vutils-extension
        run: node common/scripts/install-run-rush.js build --only @visactor/vutils-extension

      - name: Build VChart
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: node common/scripts/install-run-rush.js run -p @visactor/vchart -s build:cjs

      - name: Test VChart
        run: node common/scripts/install-run-rush.js run -p @visactor/vchart -s test
